# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/codemodel-v2-0a0542d33dd65108135b.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/codemodel-v2-0a0542d33dd65108135b.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/codemodel-v2-266f720d6cbcd57d5d54.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/directory-.-Debug-8280cdc3701ce4237049.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/directory-.-Debug-c6f8d2ae1b51f2b149b5.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/index-2025-07-04T01-08-35-0606.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/index-2025-07-04T12-14-50-0183.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/target-BrightnessIncrease-Debug-1bb475bcd80859b663ca.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/target-BrightnessIncrease-Debug-38e840c606d2eee2d9a2.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_deps
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_log
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/BrightnessIncrease.exe
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/main.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/Source/BrightnessFilter.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/Testing/Temporary/LastTest.log
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/codemodel-v2-0a0542d33dd65108135b.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/directory-.-Debug-c6f8d2ae1b51f2b149b5.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/index-2025-07-04T01-08-35-0606.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/target-BrightnessIncrease-Debug-1bb475bcd80859b663ca.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_deps
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_log
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/BrightnessIncrease.exe
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/main.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/Source/BrightnessFilter.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/Testing/Temporary/LastTest.log
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/codemodel-v2-0a0542d33dd65108135b.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/directory-.-Debug-c6f8d2ae1b51f2b149b5.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/index-2025-07-04T01-08-35-0606.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/target-BrightnessIncrease-Debug-1bb475bcd80859b663ca.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_deps
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_log
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/BrightnessIncrease.exe
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/main.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/Source/BrightnessFilter.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/Testing/Temporary/LastTest.log
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/codemodel-v2-0a0542d33dd65108135b.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/directory-.-Debug-c6f8d2ae1b51f2b149b5.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/index-2025-07-04T01-08-35-0606.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/target-BrightnessIncrease-Debug-1bb475bcd80859b663ca.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_deps
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_log
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/BrightnessIncrease.exe
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/main.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/Source/BrightnessFilter.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/directory-.-Debug-c6f8d2ae1b51f2b149b5.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/index-2025-07-04T01-08-35-0606.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/target-BrightnessIncrease-Debug-1bb475bcd80859b663ca.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_deps
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.ninja_log
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/BrightnessIncrease.exe
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/main.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/CMakeFiles/BrightnessIncrease.dir/Source/BrightnessFilter.cpp.obj
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/directory-.-Debug-c6f8d2ae1b51f2b149b5.json
/BrightnessIncrease/build/Desktop_Qt_shared_MinGW_w64_MINGW64_MSYS2-Debug/.cmake/api/v1/reply/directory-.-Debug-c6f8d2ae1b51f2b149b5.json
